$font-color: #4e3536;

.light {
  font-family: Montserrat;
  font-weight: 300;
  color: $font-color;
}
.Medium {
  font-family: Montserrat;
  font-weight: 500;
  color: $font-color;
}
.SemiBold {
  font-family: Montserrat;
  font-weight: 600;
  color: $font-color;
}
