<script>
    let ingridientForm = document.querySelectorAll(".ingridient-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_ingridients-TOTAL_FORMS")

    let formNum = ingridientForm.length
    addButton.addEventListener('click', addForm)

    function addForm(e){
        e.preventDefault()
        let newForm = ingridientForm[ingridientForm.length - 1].cloneNode(true)
        let formRegex = RegExp(`ingridients-(\\d){1,3}-`,'g')
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `ingridients-${formNum}-`)
        formNum++
        tbody = container.querySelector("tbody")
        tbody.insertBefore(newForm, tbody.querySelector("#button-row"))
        totalForms.setAttribute('value', `${formNum}`)
    }
</script>