.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #edbd99;
  height: 150px;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.navLink {
  color: #4e3536;
  text-decoration: none;
  padding: 10px;
}

.navLink:hover {
  color: rgb(196, 51, 123);
}
