@import "../Modules/variables", "../Modules/mixins";

.form {
  @include flex(center, center, column);

  &__input-container {
    position: relative;

    .form__input {
      position: relative;
      margin: 0 0 20px;
      width: 250px;
      @include font(14px, 500, 1);
      outline: none;
      border: none;
      border-bottom: 1px $cacao solid;
    }

    .form__input-error {
      position: absolute;
      top: 30px;
      left: 50%;
      width: 500px;
      @include font(8px, 500, 1);
      color: $litchi;
      transform: translate(-50%, -50%);
    }
  }

  &__submit-button {
    min-width: 91px;
    height: 30px;
    padding: 0 20px;
    margin-top: 10px;
    @include font(14px, 500, 16px);
    background-color: transparent;
    color: $cacao;
    border: 1px $cacao solid;
    border-radius: 9px;
  }

  &__submit-button_enabled {
    background-color: $avocado;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include interactive;
  }

  input::placeholder {
    @include font(14px, 300, 1);
    color: $cacao;
  }
}
