{% extends 'users/base_users.html' %}
{% block title %}О проекте{% endblock title %}
{% block content %}
{% load user_filters %}
<h1>О проекте</h1>
<p>
    Этот сайт разрабатывается как учебный проект, но я стараюсь сделать его по-настоящему
     функциональным. Сейчас реализована возможность считать какльуляционных карт для блюд и 
     полуфабрикатов, а так-же выгрузка их в файлы на Ваш компьютер. Эти карты не соответствуют
    ГОСТ или каким-то официальным стандартам и быть использованы как документация предприятия.
    Этот сервис может помочь автоматизировать расчет себестоимости на этапе до запуска предприятия,
    когда специальный софт еще не приобретен, либо для личных целей, либо если вопрос официальной
    документации вас не интересует.  
</p>
<p>
    Разработка проекта не закончена, и если у Вас есть предложения по функционалу который стоит 
    добавить, или Вы обнаружили ошибку в работе сайта - воспользуйтесь формой обратной связи. 
</p>
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">
                Форма обратной связи
            </div>
            <div class="card-body">
                <form method="post" action={% url 'about:send_message' %}>
                  {% csrf_token %}
                  {% for field in form %}
                  {{ field.label }}
                  {{ field|addclass:"form-control" }}
                  {% endfor %}
                  </br>
                  <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-primary">
                      Отправить
                    </button>
                  </div>
                </form>    
            </div>
        </div>
    </div>
</div>
{% endblock content %}