{% extends 'users/base_users.html' %}
{% block content %}
<h1>Как пользоваться приложением</h1>
<p>
    Для начала нужно зарегестрироваться и войти в свою учетную запись. В верхнем меню появится пункт
    "Мои карты". Перейдя в этот раздел вам будут доступны функции создания и редактирования текхарт. 
    Для начала вам нужно будте заполнить базу продуктов. После этого можно будет перейти к созданию полуфабрикатов
    или сразу готовых блюд если они не требуют полуфабрикатов.     
</p>
{% endblock content %}