{% extends 'users/base_users.html' %}
{% block title %}Инструкция{% endblock title %}
{% block content %}
{% load static %}
<div class="container-fluid" style="width: 80%">
    <h1>Как пользоваться приложением</h1>
    
    <p>
        После регистрации и входа в учетную запись в верхнем меню сайта появится пункт "Мои карты".
        Кликнув по нему вы перейдете в раздел где находятся вся ваша номенклатура. Если вы только
        зарегестрировались то здесь пусто. Для начала нужно создать записи о продуктах из которых 
        будут состоять Ваши блюда. В боковом меню кликните на "Продукты", и далее на "Добавить продукты" 
    </p>
        <img class="img-fluid img-thumbnail" src={% static 'img/how/step-1.png' %}>
    <p>
        Каждый продукт имеет четыре параметра: название, еденицу измерения, вес еденицы
         измерения, цена. Если еденица измерения продукта килограмм, следовательно вес
        еденицы измерения следует оставить равным 1,0 кг, для литров и штук при необходимости 
        изменить. Кликая по кнопке "Добавить продукт", можно за раз создать необходимое количество
        продуктов. Если вдруг какойто продукт был добавлен случайно, можно удалить его поставив
        отметку в столбце "Удалить". После того как все поля указаны жмём "Сохранить" 
   </p>    
        <img class="img-fluid img-thumbnail" src={% static 'img/how/step-2.png' %}>
    <p>
        Созданые продукты появились в списке продуктов. Здесь можно удалить лишние продукты или
        отредактировать нажав на кнопку "Изменить".
        
    </p>
        <img class="img-fluid img-thumbnail" src={% static 'img/how/step-3.png' %}>
    <p>
        Идём дальше. Для создания полноценных блюд нам могут понадобится полуфабрикаты. Кликнем на 
        вкладку "Полуфабрикаты" бокового меню. По анологии с продуктами жмём "Добавить полуфабрикат"
        и попадаем раздел созания. Полуфабрикат может состоять из нескольких ингридентов, добавляем 
        необходимое количество и указываем для каждого: выбранный из списка продуктов ингридиент,
         количество(штук, литвров, килограмм), процент отхода при холодной обработке и горячей.
        Холодный отход - потери продукта без тепловой обработки: очистка овощей, потери воды при
        разморозке, отбракованное сырье. Горячий отход - потери веса при тепловой обработке: ужарка,
         уварка. Можно обьеденить оба отхода и вписать их в любое поле, если нет возможности разделить
         его - расчет останется корректным. Так-же можно описать техноллогию приготовления. 
    </p>
        <img class="img-fluid img-thumbnail" src={% static 'img/how/step-4.png' %}>
    <p>
        После сохранения, в списке полуфабрикатов появится новая запись. В поле цена указана
        себестоимость полученного полуфабриката за один килограмм. Можно можно использовать
        получабрикат для создания других полуфабрикатов или блюд. Здесь можно получить более 
        полную информацию о полуфабрикате кликнув на "Подробнее".
    </p>
        <img class="img-fluid img-thumbnail" src={% static 'img/how/step-5.png' %}>
    <p>
        Перейдем к созданию блюд. Аналогично предыдущим случам, кликнем на "Блюда" ->
        "Новое блюдо". Создание и редактирование блюда идентично полуфабрикату, вводим название 
        блюда, ингридиенты и технологию приготовления.
    </p>
        <img class="img-fluid img-thumbnail" src={% static 'img/how/step-6.png' %}>
    <p>
        Сохраняем и видим наше блюдо в списке, расчитаное значение себестоимости и веса.  
    </p>
        <img class="img-fluid img-thumbnail" src={% static 'img/how/step-7.png' %}>
    <p>
        Кликнем "Подробнее" и увидим более полную информацию. Здесь можно удалить блюдо, 
        перейти в раздел редактирования или скачать техкарту в формате xlsx для печати
        или для хранения на диске.
    </p>
        <img class="img-fluid img-thumbnail" src={% static 'img/how/step-8.png' %}>
        <img class="img-fluid img-thumbnail" src={% static 'img/how/step-9.png' %}>
    <p>
        На этом всё, если у Вас есть какието вопросы или пожелания, можете воспользоваться 
        <a href="{% url 'about:author' %}">формой обратной связи</a>
    </p>    
</div>
{% endblock content %}