@import "../Modules/mixins";

.error-page {
  @include flex(center, center, column);
  color: black;
  height: 100vh;

  &__header {
    @include font(48px, 600, 1);
    margin: 0;
  }

  &__img {
    height: 200px;
    width: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px auto 15px;
  }

  &__text {
    @include font(24px, 600, 1.33);
  }

  &__button {
    @include interactive();
    @include font(16px, 600, 1.25);
    padding: 0.31em 0.94em;
    border: 1px solid black;
    border-radius: 10px;
  }
}
