@import "../../Modules/variables", "../../Modules/mixins";

.burgerMenu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  z-index: 1;
  transition: 0.8s;

  &__menu {
    filter: none;
    position: fixed;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    opacity: 1;
    @include sideMenuTransition;

    .burgerMenu__container {
      margin-top: 40px;
      @include flex(center, center, column);
      gap: 30px;
    }
  }

  .burgerMenu__menu_opened {
    right: 0px;
    visibility: visible;
    opacity: 1;
  }
}

.burgerMenu_opened {
  backdrop-filter: blur(2px);
  visibility: visible;
}
