@import "../../Modules/variables", "../../Modules/mixins";

.burgerMenu {
  position: fixed;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: $yellow;
  opacity: 1;
  visibility: hidden;
  @include sideMenuTransition;
  z-index: 1;

  &__arrow {
    width: 11px;
    height: 22px;
    padding: 0;
    margin: 10px 0 0 8px;
    background-image: url(../../../images/arrow-big.svg);
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    @include interactive();
  }
  &__container {
    @include flex(center, center, column);
    height: 100%;
    justify-content: space-around;
  }

  &_opened {
    right: 0px;
    visibility: visible;
    opacity: 1;
  }
}
