{% extends 'cards/base_cards.html' %}
{% block title %} {{ product.name }} {% endblock title %}
{% block content %}
<h1>{{ product.name }}</h1>
<br>
<table class="table table-light">
    <tr>
      <th>Название</th>
      <th>Дата создания</th>      
      <th>Единица измерения</th>
      <th>Цена</th>
    </tr>
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.create_date }}</td>
      <td>{{ product.unit }}</td>
      <td>{{ product.price }}</td>
    </tr>
</table>
<a class="btn btn-primary btn-sm" 
   href="{% url 'cards:product_edit' product.id %}">Изменить</a>
<a class="btn btn-danger btn-sm" 
   href="{% url 'cards:product_delete' product.id %}">Удалить</a>
<br>
{% endblock content %}
