{% extends 'cards/base_cards.html' %}
{% block content %}
<h1>Новый продукт</h1>
<form method="post" 
      action= {% if is_edit %}
                 "{% url 'cards:product_edit' product_id %}"
              {% else %}
                 "{% url 'cards:product_create' %}"
              {% endif %}      
      enctype="multipart/form-data">      
    {% csrf_token %}           
    <table class="table table-light">
        <tr  >
          <th>Название</th>
          <th>Единица измерения</th>
          <th>Вес одной штуки</th>
          <th>Цена за еденицу измерения</th>
        </tr>
        <tr>
          <td>{{ form.name }}</td>
          <td>{{ form.unit }}</td>
          <td>{{ form.unit_weight }}</td>
          <td>{{ form.price }}</td>
        </tr>
      </table>  
        <button type="submit" class="btn btn-primary">
            {% if is_edit %}Сохранить{% else %}Добавить новый продукт{% endif %}
        </button>
</form>
{% endblock content %}