{% extends 'cards/base_cards.html' %}
{% block content %}
<h1>Новый продукт</h1>
<form method="post" 
      action= {% if is_edit %}
                 "{% url 'cards:product_edit' product_id %}"
              {% else %}
                 "{% url 'cards:product_create' %}"
              {% endif %}      
      enctype="multipart/form-data">      
    {% csrf_token %}           
    {% for field in form %}
    <p>{{ field }} {{ field.help_text }}</p>
    {% endfor %} 
    <hr>
        <button type="submit" class="btn btn-primary">
            {% if is_edit %}Сохранить{% else %}Добавить новый ингридиент{% endif %}
        </button>
</form>
{% endblock content %}