{% extends 'cards/base_cards.html' %}
{% block content %}
<h1>Полуфабрикаты</h1>
</br>
<a class="btn btn-primary btn-sm"  
   href="{% url 'cards:semifabricate_create' %}">Добавить полуфабрикат</a>
<table class="table table-hover table-light">
  <tr  >
    <th>ID</th>
    <th>Название</th>
    <th>Единица измерения</th>
    <th>Цена</th>
    <th></th>
  </tr>
  {% for semifabricate in semifabricates %}
  <tr>
    <th>{{ semifabricate.id }}</th>
    <th>{{ semifabricate.name }}</th>
    <th>{{ semifabricate.unit }}</th>
    <th>{{ semifabricate.price }}</th>
    <th><a class="btn btn-primary btn-sm"  
           href="{% url 'cards:semifabricate_detail' semifabricate.id %}">Подробнее</a></th>
  </tr>
  {% endfor %}
</table>  
</br>

{% endblock content %}