{% extends 'cards/base_cards.html' %}
{% block content %}
<h1>Новый полуфабрикат</h1>
<form method="post" 
      action= {% if is_edit %}
                 "{% url 'cards:semifabricate_edit' semifabricate_id %}"
              {% else %}
                 "{% url 'cards:semifabricate_create' %}"
              {% endif %}
      enctype="multipart/form-data">      
    {% csrf_token %}           
    {% include "cards/includes/create_table.html" %}
</form>
{% include 'cards/includes/block_script.html' %}
{% endblock content %}