{% extends 'cards/base_cards.html' %}
{% block content %}
<h1>Полуфабрикаты</h1>
</br>
<a class="btn btn-primary btn-sm"  
   href="{% url 'cards:semifabricate_create' %}">Добавить полуфабрикат</a>
<table class="table table-hover table-stripped">
  <tr  >
    <th>ID</th>
    <th>Название</th>
    <th>Дата создания</th>
    <th>Цена</th>
    <th></th>
  </tr>
  {% for semifabricate in semifabricates %}
  <tr>
    <td>{{ semifabricate.id }}</td>
    <td>{{ semifabricate.name }}</td>
    <td>{{ semifabricate.create_date }}</td>
    <td>{{ semifabricate.price }}</td>
    <td><a class="btn btn-primary btn-sm"  
           href="{% url 'cards:semifabricate_detail' semifabricate.id %}">Подробнее</a></td>
  </tr>
  {% endfor %}
</table>  
</br>

{% endblock content %}