{% extends 'cards/base_cards.html' %}
{% block content %}  
<table class="table table-light">
  <tr>
    <td colspan=2>Карта №{{ techcard_id }}</td>
    <td colspan=4>Название: {{ name }}</td>
    <td colspan=2>Дата создания: {{ date }}</td>
  </tr>
  <tr>
    <th>№</th>
    <th>Ингридиент</th>
    <th>Ед.изм</th>
    <th>Вес брутто</th>
    <th>Вес нетто</th>
    <th>Вес готового продукта</th>
    <th>Цена</th>
    <th>Себестоимость</th>
  </tr>
  {% for ingridient in ingridients %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ ingridient.0 }}</td>
    <td>{{ ingridient.1 }}</td>
    <td>{{ ingridient.2|floatformat:3 }}</td>
    <td>{{ ingridient.3|floatformat:3 }}</td>
    <td>{{ ingridient.4|floatformat:3 }}</td>
    <td>{{ ingridient.5|floatformat:2 }}</td>
    <td>{{ ingridient.6|floatformat:2 }}</td>
  </tr>
  {% endfor %}
  <tr>
    <th colspan=5>Итого</th>
    <th>{{ weight|floatformat:3 }}</th>
    <th></th>
    <th>{{ price|floatformat:2 }}</th>
  </tr>
  <tr>
    <td colspan=8>{{ description|safe|linebreaks}}</td>
  </tr>
</table>
{% with request.resolver_match.view_name as view_name %}
  <a class="btn btn-primary btn-sm" 
     href={% if view_name == 'cards:techcard_detail' %}
            "{% url 'cards:techcard_edit' techcard_id %}"
          {% else %}
            "{% url 'cards:semifabricate_edit' semifabricate_id %}"
          {% endif %}
          >Изменить</a>
  <a class="btn btn-primary btn-sm" 
          href="{% url 'cards:download_xlsx' techcard_id %}">Скачать Exel файл</a>
  <a class="btn btn-danger btn-sm" 
          href={% if view_name == 'cards:techcard_detail' %}
                 "{% url 'cards:techcard_delete' techcard_id %}"
               {% else %}
                 "{% url 'cards:semifabricate_delete' semifabricate_id %}"
               {% endif %}
          >Удалить</a>      
{% endwith %}    
{% endblock content %}