{% extends 'cards/base_cards.html' %}
{% block title %}{% if is_edit %}Редактирование{% else %}Новое блюдо{% endif %}{% endblock title %}
{% block content %}
<h1>{% if is_edit %}{{ techcard_form.name.value }}{% else %}Новое блюдо{% endif %}</h1>
<form method="post" 
      action= {% if is_edit %}
                 "{% url 'cards:techcard_edit' techcard_id %}"
              {% else %}
                 "{% url 'cards:techcard_create' %}"
              {% endif %}
      enctype="multipart/form-data">      
    {% csrf_token %}
    {% include "cards/includes/create_table.html" %}
</form>
{% include 'cards/includes/block_script.html' %}
{% endblock content %}