{% extends 'cards/base_cards.html' %}
{% block content %}
<h1>Новая карта</h1>
<form method="post" id="form-container"
      action= {% if is_edit %}
                 "{% url 'cards:techcard_edit' techcard_id %}"
              {% else %}
                 "{% url 'cards:techcard_create' %}"
              {% endif %}
      enctype="multipart/form-data">      
    {% csrf_token %}
    <p>Название: {{ techcard_form.name }}</p> 
        {{ ingridient_formset.management_form }}
    {% for ingridient_form in ingridient_formset %}  
    <div class="ingridient-form">
        {{ ingridient_form.DELETE }}
        {{ ingridient_form.id}}
        {{ ingridient_form.product }}
        {{ ingridient_form.ammount }}
        {{ ingridient_form.cold_waste }}
        {{ ingridient_form.hot_waste }}
        
    </div>
    {% endfor %} 
    <button id="add-form" type="button" class="btn btn-primary">Add Another ingridient</button>
    <button type="submit" class="btn btn-primary">
    {% if is_edit %}Сохранить карту{% else %}Создать карту{% endif %}
    </button>
    </hr>
    <p>{{ techcard_form.description.help_text }}</p>
    <p>{{ techcard_form.description }}</p> 
</form>
{% include 'cards/includes/block_script.html' %}
{% endblock content %}