@import "../Modules/variables";

@mixin flex($justify: flex-start, $align: stretch, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin font($font-size: 14px, $font-weight: 300, $line-height: 1.14, $text-align: center) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  text-align: $text-align;
}

@mixin link-opacity {
  transition: opacity 0.4s;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

@mixin interactive() {
  transition: transform 0.4s;
  cursor: pointer;
  &:active {
    box-shadow: none;
  }
  &:hover {
    transform: scale(1.1);
  }
}

@mixin sideMenuTransition() {
  transition: 1s cubic-bezier(0.36, 0, 0.36, 1) 0s;
}

@mixin background($url, $background-size: cover) {
  background-image: url($url);
  background-size: $background-size;
  background-repeat: no-repeat;
}

@mixin greenbtn($padding: 0.5em 1.14em) {
  background-color: $avocado;
  border: none;
  border-radius: 0.36em;
  width: fit-content;
  box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
  padding: $padding;
  color: $cacao;
  @include font($font-weight: 500);
  @include interactive();
}

@mixin transparentbtn($padding: 0.1em 1em) {
  background-color: transparent;
  border: 1px $cacao solid;
  border-radius: 1em;
  width: fit-content;
  padding: $padding;
  color: $cacao;
  @include font($font-weight: 500);
  @include interactive();
}

@mixin colorInput($width: 30px, $height: 30px) {
  width: $width;
  height: $height;
  cursor: pointer;
  border: none;
  background: #fff;
  border: none;
  padding: 0;  
  @include interactive();
  
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
  }

  /* firefox */
  &::-moz-focus-inner {
    border: none;
    padding: 0;
    border-radius: 5px;
  }

  &::-moz-color-swatch {
    border: none;
    border-radius: 5px;
  }
}

@mixin close-btn($width: 25px, $height: 25px) {  
  width: $width;
  height: $height;
  padding: 0;
  background-image: url(../../images/circle-close.svg);
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  @include interactive();
}

