@import "../Modules/variables", "../Modules/mixins";

.nav {
  @include flex($align: center);
  gap: 28px;

  &__link {
    @include link-opacity;
    @include font(14px, 500, 16px, center);
    color: $brown;
    text-decoration: none;

    &:hover {
      color: $coral;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav {
    flex-direction: column;
    gap: 8px;
  }
}
