@import "../../Modules/mixins";

.about {
  margin: -7px auto 0;
  padding-top: 78px;
  position: relative;

  &__title {
    @include font(32px, 600, 1);
    margin: 0 auto 100px;
  }

  &__text {
    @include font($font-weight: 400);
    max-width: 55%;
    margin: 0 auto;
    padding-bottom: 15px;
  }

  &__wave {
    &_blue {
      @include background-image("../../../images/firstpage-wave-1.svg");
      top: 0;
    }

    &_green {
      @include background-image("../../../images/firstpage-wave-2.svg");
    }
  }

  @media screen and (max-width: 767px) {
    &__title {
      margin-bottom: 70px;
    }
  }
}
