@import "../../Modules/mixins";

.about {
  margin: 0 auto;

  &__title {
    @include font(32px, 600, 1);
    margin: -9% auto 8%;
  }

  &__text {
    @include font($font-weight: 400);
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px 15px;
  }

  &__wave {
    padding-top: 15%;
    &_blue {
      @include background("../../../images/firstpage-wave-1.svg", 100%);
    }

    &_green {
      @include background("../../../images/firstpage-wave-2.svg", 100%);
    }
  }
}
