@import "../../Modules/variables", "../../Modules/mixins";

.greeting {
  @include flex(center, center, column);

  &__title {
    @include font(40px, 600, 1.05);
    color: $cacao;
    width: 301px;
    margin: 76px 0 5px;
    padding: 0;
  }

  &__subtitle {
    @include font(10px, 300, 1.05);
    color: $cacao;
    width: 210px;
    margin: 0;
    padding: 0;
  }

  &__button {
    @include font(14px, 500, 1.05);
    @include interactive();
    color: $cacao;
    width: 160px;
    height: 30px;
    margin: 40px 0 50px;
    padding: 0;
    background-color: $avocado;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &__image {
    width: 608px;
    height: 335px;
  }
}
