{% load static %}
    {% with request.resolver_match.view_name as view_name %}
    <nav class="navbar navbar-light bg-primary">
      <a class="navbar-brand " href="{% url 'index' %}"><img src={% static 'img/fav/favicon.ico' %}> MyTechCards</a>
      <ul class="nav justify-content-end">
        <li class="nav-item ">
          <a class="nav-link {% if view_name == 'about:author' %}text-light{% else %}text-dark {% endif %}"
             href="{% url 'about:author' %}">О проекте</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'about:how_it_work' %}text-light{% else %}text-dark {% endif %}"
             href="{% url 'about:how_it_work' %}">Как пользоваться</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item ">
          <a class="nav-link {% if view_name|slice:":5" == 'cards'  %}text-light{% else %}text-dark {% endif %}"
             href="{% url 'cards:techcard_list' %}">Мои карты</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link {% if view_name == 'users:logout' %}text-light{% else %}text-dark {% endif %}"
             href="{% url 'users:logout' %}">Выйти</a>
        </li>
        {% else %}
        <li class="nav-item ">
          <a class="nav-link {% if view_name == 'users:login' %}text-light{% else %}text-dark {% endif %}"
             href="{% url 'users:login' %}">Войти</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link {% if view_name == 'users:signup' %}text-light{% else %}text-dark {% endif %}"
             href="{% url 'users:signup' %}">Регистрация</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endwith %}   