@import "../Modules/variables", "../Modules/mixins";

.header {
  @include flex();
  background-color: $peach;
  min-height: $headerHeight;

  .header__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0 60px;
    transition: 0.3s;

    .header__burger-button {
      display: none;
    }
  }

  &_main {
    background-color: #fff;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    .header__content {
      margin: 0 20px;

      .header__hide {
        display: none;
      }

      .header__burger-button {
        display: flex;
        justify-self: end;
        grid-column: 3/4;

        width: 20px;
        height: 13px;
        background-image: url("../../images/burger.svg");
        background-color: transparent;
        border: none;
        @include link-opacity;
      }
    }
  }
}
