@import "../Modules/variables", "../Modules/mixins";

.foodstuff {
  @include flex($direction: column);
  width: 100%;
  max-width: 1400px;

  &__overflow-box {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    box-sizing: border-box;
    width: 100%;

    &:hover {
      &::-webkit-scrollbar {
        height: 5px;
      }
    }

    &::-webkit-scrollbar {
      height: 1px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blueberry;
      border-radius: 6px;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 5px;
  }
}