@import "../Modules/variables", "../Modules/mixins";
.popup {
  position: absolute;
  @include flex(center, center);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);

  &__container {
    position: relative;
    @include flex(center, center, column);
    flex-basis: 350px;
    width: 300px;
    margin: 0 10px;
    height: 300px;
    background-color: #fff;
    border: none;
    border-radius: 10px;

    .popup__close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 25px;
      height: 25px;
      padding: 0;
      background-image: url(../../images/circle-close.svg);
      background-size: cover;
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      @include interactive();
    }

    .popup__text {
      justify-self: center;
      margin: 0;
      padding: 0 30px;
      color: $brown;
      @include font(14, 500, 2);
    }
  }
}
