{% extends 'users/base_users.html' %}
{% block title %}Добро пожаловать!{% endblock title %}
{% block content %}
<h1>Добро пожаловать</h1>
<p>
    Вы находитесь на главной странице сайта приложения для создания калькуляционных карт
    для предприятий обещественнго пиатния. Здесь вы сможете бесплатно создать техкарты для своих блюд 
    рассчитать себестоимость и получить файлы для печати. Для подробного описания работы приложения читайте 
    <a href="{% url 'about:how_it_work' %}"> инструкцию. </a>
</p>
{% endblock content %}