{% extends 'cards/base_cards.html' %}
{% block title %}Продукты{% endblock title %}
{% block content %}
<h1>Продукты</h1>
</br>
<a class="btn btn-primary btn-sm"  
   href="{% url 'cards:product_create'%}">Добавить продукты</a>
<a class="btn btn-primary btn-sm"  
   href="{% url 'cards:product_edit'%}">Изменить</a>
<table class="table table-hover table-stripped">
  <tr  >
    <th>ID</th>
    <th>Название</th>
    <th>Единица измерения</th>
    <th>Цена</th>
    <th></th>
  </tr>
  {% for product in products %}
  <tr>
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.unit }}</td>
    <td>{{ product.price }}</td>
    <td>
      <a class="btn btn-danger btn-sm"  
           href="{% url 'cards:product_delete' product.id %}">Удалить</a>
    </td>
  </tr>
  {% endfor %}
</table>  
</br>

{% endblock content %}