{% extends 'cards/base_cards.html' %}
{% block title %}Продукты{% endblock title %}
{% block content %}
{% load user_filters %}
<h1>Ваши продукты</h1>
<form method="post" 
      action= {% if is_edit %}
                "{% url 'cards:product_edit' %}"
              {% else %}
                "{% url 'cards:product_create' %}"
              {% endif %}
      enctype="multipart/form-data">      
    {% csrf_token %}
    {{ product_formset.management_form }}
    <table class="table table-light" id="form-container">
        <tr>
          <th>Название</th>
          <th>Ед.измерения</th>
          <th>Вес одной еденицы</th>
          <th>Цена</th>
          <th>Удалить</th>
        </tr>
        {% for product_form in product_formset %}
        <tr class="ingridient-form">
          <td>{{ product_form.name|addclass:'form-control' }}</td>
          <td>{{ product_form.unit|addclass:'form-control' }}</td>
          <td>{{ product_form.unit_weight|addclass:'form-control' }}</td>
          <td>{{ product_form.price|addclass:'form-control' }}</td>
          <td>{{ product_form.DELETE|addclass:'form-check' }}{{ product_form.id }}</td>
        </tr>
        {% endfor %} 
        <tr id="button-row">
              <td colspan=5 >
                <button id="add-form" type="button" class="btn btn-primary">Добавить ингридиент</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </td>
        </tr>
      </table>
</form>
{% include 'cards/includes/block_script.html' %}
{% endblock content %}